.wrapper {
    width: 87.5%;
    max-width: 280px;
    margin: 0 auto;
}
// Подумай над резиной еще обязательно,должно прикольно получится
@media (min-width: $screen-tablet) {
    .wrapper {
        width: 93.93%;
        max-width: 620px;
    }
}
@media (min-width: $screen-desktop) {
    .wrapper {
        width: 78.33%;
        max-width: 940px;
    }
}
