.soft {
    position: relative;
}

.soft__iphone {
    margin-top: 82px;
    margin-left: -20px;
    margin-bottom: -3px;
}
@media (min-width: $screen-tablet) {
    .soft__iphone {
        margin-top: 74px;
        margin-left: -20px;
    }
}
@media (min-width: $screen-desktop) {
    .soft__iphone {
        margin-top: 100px;
    }
}