.slider {
    margin-top: 45px;
    margin-bottom: 45px;
}
.slider .wrapper{
    position: relative;
}
.slider__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-item2,
.slider-item3 {
    display: none;
}
.slider__item-title {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.slider__item-age {
    display: none;
}
.slider__item-description {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center;
}
.slider__control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.slider__control input[type="radio"]:not(:checked),
.slider__control input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
.slider__contol-dots {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #283645;
    opacity: 0.3;
    border-radius: 50%;
    margin-right: 19px;
}
.slider__contol-dots:last-child {
    margin-right: 0;
}
.slider__contol-dots:hover {
    opacity: 0.6;
}
.slider__contol-dots:active {
    opacity: 0.1;
}
.slider__control input[type="radio"]:checked + label {
    background-color: #fff;
    opacity: 1;
    border: 3px solid #283645;
}
.slider__arrow {
    display: none;
}

@media (min-width: $screen-tablet) {
    .slider {
        margin-bottom: 20px;
    }
    .slider__item {
        flex-direction: column-reverse;
    }
    .slider__item-title {
        font-size: 20px;
    }
    .slider__item-age {
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 30px;
        color: #283645;
        display: block;
    }
    .slider__item-description {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .slider__control {
        margin-top: 30px;
    }
}
@media (min-width: $screen-desktop) {
    .slider {
        background-image: url(../img/svg/quotes.svg);
        background-repeat: no-repeat;
        background-position: center 20px;
        background-size: 79px 63px;
        margin-bottom: 40px;
    }
    .slider .wrapper {
        padding-top: 100px;
    }
    .slider__item-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .slider__item-age {
        font-size: 18px;
    }
    .slider__item-description {
        max-width: 76.596%;
    }
    .slider__control {
        display: none;
    }
    .slider__arrow {
        display: block;
    }
    .slider__arrow-left,
    .slider__arrow-right {
        fill: #283645;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }
    .slider__arrow-left:hover,
    .slider__arrow-right:hover {
        opacity: 1;
    }
    .slider__arrow-left:active,
    .slider__arrow-right:active {
        opacity: 0.1;
    }
    .slider__arrow-left {
        left: 0;
    }
    .slider__arrow-right {
        right: 0;
    }
}