.competition-title {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 280px;
}
.competition-title__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 36px 0 54px 0;
}
@media (min-width: $screen-tablet) {
    .competition-title {
        max-width: 620px;
    }
    .competition-title__title {
        font-size: 50px;
        line-height: 60px;
        padding: 60px 0 85px 0;
    }
}
@media (min-width: $screen-desktop) {
    .competition-title {
        max-width: 820px;
    }
    .competition-title__title {
        padding: 75px 0 100px 0;
    }
}