.contact {
    position: relative;
}
.contact__map {
    position: relative;
    margin-top: 350px;
    z-index: -1000;
}
.contact__address {
    position: absolute;
    top: 0;
    padding-top: 50px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.contact__address::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -49px;
    background: transparent;
    border-top: 50px solid #fff;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
} 
.contact .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__question {
    color: #283645;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.contact__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact__item {
    margin: 30px 0;
    h3, p {
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: 18px;
        line-height: 18px;
        color: #283645;
        margin-bottom: 13px;
    }
    p {
        font-size: 24px;
        line-height: 24px;
        color: #d22856;
        font-weight: 300;
    }
    .contact__mail {
        text-decoration: none;
        color: #d22856;
    }
    .contact__mail:hover {
        text-decoration: underline;
        color: #283645;
    }
    .contact__mail:active {
        text-decoration: none;
        color: #283645;
        opacity: 0.3;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
@media (min-width: $screen-tablet) {
    .contact__address {
        padding-bottom: 50px;
    }
    .contact__address::after {
        bottom: -49px;
        border-top: 75 solid #fff;
    } 
    .contact__question {
        font-size: 40px;
        line-height: 40px;
        max-width: 400px;
        margin-bottom: 20px;
    }
    .contact__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media (min-width: $screen-desktop) {
    .contact__map {
        margin-top: 300px;
    }
    .contact__address {
        padding-bottom: 0;
    }
    .contact__address::after {
        bottom: -115px;
        border-top: 100px solid #fff;
    } 
    .contact__question {
        font-size: 50px;
        line-height: 50px;
        max-width: 500px;
    }
    .contact__item:nth-child(2) {
        order: 2;
        
    }
    .contact__item:nth-child(3) {
        order: 1;
        margin-right: 100px;
        margin-left: 115px;
    }
}