.soft-file {
    position: absolute;
    width: 100%;
    background-color: $soft-bg-color;
    color: $font-color;
    line-height: 24px;
}
.soft-file .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 28px;
}
.soft-file__title {
    display: none;
}
.soft-file__download {
    text-decoration: none;
    color: $font-color;
    font-size: $font-size;
    font-weight: bold;
    line-height: 18px;
    border: 3px solid #fff;
    border-radius: 30px;
    padding: 15px 35px 15px 36px;
    
}
.soft-file__list {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0;
    padding: 0;
    margin-top: 32px;
    list-style: none;
}
.soft-file__item {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
}
.apple {
    background-image: url("../img/apple-logo.png");
    width: 47px;
    height: 56px;
}
.android {
    background-image: url("../img/android-logo.png");
    width: 43px;
    height: 47px;
}
.microsoft {
    background-image: url("../img/microsoft-logo.png");
    width: 44px;
    height: 41px;
}
.soft-file__description {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 29px;
    text-align: center;
    font-weight: 300;
}
@media (min-width: $screen-tablet) {
    .soft-file {
        width: 48.387%;
        max-width: 300px;
        top: 0;
        left: 3.03%;
        background-color: transparent;
        .wrapper {
            width: 100%;
            max-width: 300px;
        }
        &__title {
            display: block;
            margin: 0;
            padding: 0;
            font-size: 40px;
            line-height: 40px;
            font-weight: 300;
            text-align: center;
            max-width: 190px;
            align-self: center;
            margin-bottom: 38px;
        }
        &__download {
            padding-left: 43px;
            padding-right: 43px;
        }
        &__description {
            font-size: $font-size;
            line-height: 24px;
        }
    }
    
}
@media (min-width: $screen-desktop) {
    
}