.photogallery__panorama {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.photogallery__item-photo-panorama--month {
    position: relative;
}
.photogallery__item-photo-panorama--month::after {
    content: "Панорама дня";
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    padding: 7px 20px;
    max-width: 140px;
    position: absolute;
    background-color: #d22856;
    top: 0;
    right: 20px;
}
.photogallery__item {
    margin-bottom: 20px;
}
// .photogallery__item:last-child {
//     margin-bottom: 0;
// }
.photogallery__item-description {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 20px 0 26px 18px;
    margin-top: -3px;
}
.photogallery__item-description--special {
    // Из-за паддинга слева, не выходила ширина 280
    max-width: 262px;
    
}
.photogallery__item-name,
.photogallery__item-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
.photogallery__item-text {
    margin-bottom: 20px;
}
.photogallery__item-name-time {
    color: #283645;
    font-weight: 300;
    text-transform: uppercase;
}
.photogallery__item-like {
    display: inline-block;
    width: 130px;
    padding-left: 32px;
    text-align: left;
    padding-right: 0;
    border: none;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    background-color: transparent;
    background-image: url("../img/svg/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 13px 12px;
    cursor: pointer;
}
.photogallery__down-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #283645;
    margin: 0 auto;
    padding: 22px 0 42px 0;
}
.photogallery__down-banner p {
    margin: 0;
    padding: 0;
}
@media (min-width: $screen-tablet) {
    .photogallery__panorama {
        margin-bottom: 50px;
    }
    .photogallery__item-photo-panorama--month::after {
        top: 57px;
    }
    .photogallery__item-description {
        max-width: 246px;
        padding: 25px 27px;
    }
    .photogallery__item-description--special {
        // Опять же из-за паддингов
        max-width: 566px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .photogallery__item-description--special .photogallery__item-text {
        margin-bottom: 0;
    }
    .photogallery__item-description--special .photogallery__item-like {
        order: -1;
    }
    .photogallery__item-description--special .photogallery__item-name {
        order: -2;
    }
    .photogallery__item-like {
        width: 240px;
        background-position: right center;
        padding-left: 0;
    }
    .photogallery__item-description--special .photogallery__item-like {
        width: 120px;
        background-position: right center;
        padding-left: 0;
    }
    .photogallery .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .photogallery__item {
        // Чтобы выровнять по высоте блоки
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }.photogallery__item-like {
        margin-top: auto;
    }
    .photogallery__item-description {
        // // ЧТобы была у блоков одинаковая высота
        height: 100%;
        min-height: 92px;
        /* Иначе блоки скачут на всю высоту экрана */
    }
    
    .photogallery__down-banner {
        font-size: 18px;
        padding: 48px 0 65px 0;
    }
}
@media (min-width: $screen-desktop) {
    .photogallery__item-photo-panorama--month::after {
        top: 54px;
        right: 130px;
    }
    .photogallery__item-description--special {
        // Опять же из-за паддингов
        max-width: 886px;
    }
    .photogallery__item {
        margin-bottom: 54px;
    }
    .photogallery__down-banner {
        padding-top: 0;
    }
}