.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__full-name-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.form__full-name-item {
    display: flex;
    flex-direction: column;
}
.form__full-name-text {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    padding-left: 23px;
}
.form__full-name-item input[type="text"] {
    border: 2px solid #e5e5e5;
    padding: 22px 78px 18px 20px;
    max-width: 280px;
}
.form__full-name-item input[type="text"]:hover {
    border-color: #283645;
}
.form__full-name-item input[type="text"]:focus {
    border-color: #d22856;
}
.form__full-name-item input[type="text"]::-moz-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
    text-overflow: ellipsis;
}
.form__full-name-item input[type="text"]:-ms-input-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
}
.form__full-name-item input[type="text"]::-webkit-input-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
    width: 200px;
    text-overflow: ellipsis;
}
.form__full-name-item input[type="text"]:focus::-moz-placeholder {
    opacity: 0.3;
}
.form__full-name-item input[type="text"]:focus:-ms-input-placeholder {
    opacity: 0.3;
}
.form__full-name-item input[type="text"]:focus::-webkit-input-placeholder {
    opacity: 0.3;
}
.form__achievements {
    background-color: #f2f2f2;
    border: none;
    width: 100%;
    margin-top: -20px;
}
.form__achievements-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #d22856;
    text-align: center;
    margin: 0 auto;
    // паддинг, чтобы сместить вниз заголовок
    padding-top: 90px;
    margin-bottom: 40px;
}
// Стилизация чекбоксов
.form__achievements-item {
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
}
.form__achievements-item input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
.form__achievements-item input[type="checkbox"] + label::after {
    content: none;
}
.form__achievements-item input[type="checkbox"]:checked + label::after {
    content: "";
}
.form__achievements-item input[type="checkbox"]:focus + label::before {
    border-color: #d22856;
}
.form__achievements-item input[type="checkbox"]:hover + label::before {
    border-color: #283645;
}
.form__achievements-item label {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-left: 70px;
}
.form__achievements-item label::before,
.form__achievements-item label::after {
    position: absolute;
}
.form__achievements-item label::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    top: -7px;
    left: 0px;
}
.form__achievements-item label::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 10px;
    border-left: 2px solid #d22856;
    border-bottom: 2px solid #d22856;
    transform: rotate(-45deg);
    left: 8px;
    top: 3px;
}
// конец стилизации чекбоксов
.form__contact-info {
    border: none;
    margin-top: 30px;
}
.form__contact-info-title {
    display: none;
}
.form__contact-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.form__contact-info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form__contact-info-text {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 5px;
    max-width: 140px;
    color: #d22856;
}
.form__contact-info-item input[type="tel"],
.form__contact-info-item input[type="email"] {
    position: relative;
    border: 2px solid #e5e5e5;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 18px;
}

.form__contact-info-item input[type="tel"] {
    padding-right: 75px;
}
.form__contact-info-item input[type="tel"]:hover,
.form__contact-info-item input[type="email"]:hover {
    border-color: #283645;
}
.form__contact-info-item input[type="tel"]:focus,
.form__contact-info-item input[type="email"]:focus {
    border-color: #d22856;
}
.form__contact-info-item input[type="tel"]::-moz-placeholder,
.form__contact-info-item input[type="email"]::-moz-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
}
.form__contact-info-item input[type="tel"]::-webkit-input-placeholder,
.form__contact-info-item input[type="email"]::-webkit-input-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
}
.form__contact-info-item input[type="tel"]:-ms-input-placeholder,
.form__contact-info-item input[type="email"]:-ms-input-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
}
.form__contact-info-item input[type="tel"]:focus::-moz-placeholder,
.form__contact-info-item input[type="email"]:focus::-moz-placeholder {
    opacity: 0.3;
}
.form__contact-info-item input[type="tel"]:focus::-webkit-input-placeholder,
.form__contact-info-item input[type="email"]:focus::-webkit-input-placeholder {
    opacity: 0.3;
}
.form__contact-info-item input[type="tel"]:focus:-ms-input-placeholder,
.form__contact-info-item input[type="email"]:focus:-ms-input-placeholder {
    opacity: 0.3;
}
// Стилизация радиокнопок
.form__app {
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: -50px;
}
.form__app-title {
    font-size: 14px;
    line-height: 18px;
    color: #d22856;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    // паддинг, чтобы сделать отступ
    padding-top: 100px;
}
.form__app-item {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}
.form__app-item input[type="radio"],
.form__app-item input[type="radio"]{
    position: absolute;
    left: -9999px;
}
.form__app-item label {
    position: relative;
    padding-left: 70px;
}
.form__app-item label::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 50px;
    top: -7px;
    left: 0;
}
.form__app-item label::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #d22856;
    top: 4px;
    left: 11px;
}
.form__app-item input[type="radio"]:hover + label::before {
    border-color: #283645;
}
.form__app-item input[type="radio"]:focus + label::before {
    border-color: #d22856;
}
.form__app-item input[type="radio"] + label::after {
    content: none;
}
.form__app-item input[type="radio"]:checked + label::after {
    content: "";
}
// Разобраться с фокусом
.form__emotions {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__emotions-title {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    text-align: center;
    margin: 0 auto;
    padding-top: 42px; 
}
.form__emotions textarea {
    width: 235px;
    height: 180px;
    resize: none;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 0;
    padding-left: 20px;
    padding-top: 18px;
    padding-right: 20px;
    margin-top: 10px;
}
.form__emotions textarea:hover {
    border-color: #283645;
}
.form__emotions textarea:focus {
    border-color: #d22856;
}
.form__emotions textarea::-moz-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
}
.form__emotions textarea:-ms-input-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
}
.form__emotions textarea::-webkit-input-placeholder {
    font-size: 18px;
    color: #283645;
    opacity: 1;
    width: 200px;
    text-overflow: ellipsis;
}
.form__emotions textarea:focus::-moz-placeholder {
    opacity: 0.3;
}
.form__emotions textarea:focus:-ms-input-placeholder {
    opacity: 0.3;
}
.form__emotions textarea:focus::-webkit-input-placeholder {
    opacity: 0.3;
}
.form__send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.form__button {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    background-color: #2aab6d;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 19px 47px;
}
.form__button:hover {
    background-color: #1c9b5e;
}
.form__button:active {
    color: rgba($color: #fff, $alpha: 0.3);
}
.form__button:disabled {
    background-color: #e5e5e5;
}
.form__necessarily {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #283645;
    padding: 0;
    margin: 0;
    margin-top: 35px;
}
.form__necessarily sup {
    color: #d22856;
}
.form__necessarily span {
    display: none;
}
@media (min-width: $screen-tablet) {
    .form__full-name {
        order: -3;
    }
    .form__full-name-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    .form__full-name-text {
        padding: 0;
        margin-right: 20px;
    }
    .form__full-name-item input[type="text"] {
        padding-right: 318px;
        max-width: 530px;
    }
    .form__first-name + input[type="text"] {
        padding-right: 360px;
        max-width: 565px;
    }
    .form__app {
        order: -2;
        border: 2px solid #e5e5e5;
        border-radius: 3px;
        background-color: #fff;
        width: 93.3333%;
        max-width: 620px;
        padding: 0;
        margin: 0;
    }
    .form__app-title {
        padding: 0 25px;
    }
    .form__app-title br {
        display: none;
    }
    .form__app .wrapper {
        margin: 0;
        padding-left: 58px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .form__contact-info-item input[type="tel"]::after,
    .form__contact-info-item input[type="email"]::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 58px;
        height: 58px;
        background-color: #e5e5e5;
        right: 0;
        top: 0;
    }
    .form__contact-info-item input[type="tel"] {
        background-image: url(../img/svg/phone.svg);
        background-repeat: no-repeat;
        background-size: 20px 19px;
        background-position: 455px center;
    }
    .form__contact-info-item input[type="email"] {
        background-image: url(../img/svg/mail.svg);
        background-repeat: no-repeat;
        background-size: 18px 13px;
        background-position: 455px center;
    }
    .form__contact-info {
        width: 93.333%;
        max-width: 620px;
        order: -1;
        border: 2px solid #e5e5e5;
        border-radius: 3px; 
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .form__contact-info-title {
        display: block;
        font-size: 14px;
        line-height: 18px;
        color: #d22856;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        padding: 0 33px;
    }
    .form__contact-info-list {
        padding-left: 58px;
        padding-right: 58px;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .form__contact-info-item {
        flex-direction: column-reverse;
    }
    .form__contact-info-text {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .form__achievements {
        background-color: #fff;
        border: 2px solid #e5e5e5;
        border-radius: 3px;
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 93.333%;
        max-width: 620px;
    }
    .form__achievements-title {
        padding-top: 0;
        padding-left: 32px;
        padding-right: 33px;
        margin-bottom: 0;
    }
    .form__achievements-title br {
        display: none;
    }
    .form__achievements .wrapper {
        width: 300px;
        margin: 0;
        padding-top: 48px;
        padding-left: 58px;
    }
    .form__emotions {
        border: 2px solid #e5e5e5;
        border-radius: 3px;
        width: 93.333%;
        max-width: 620px;
        margin-top: 60px;
        margin: 0;
        padding: 0;
        padding-bottom: 51px;
        padding-top: 38px;
        margin-top: 50px;
    }
    .form__emotions-title {
        padding-top: 0;
        padding-left: 38px;
        padding-right: 40px;
    }
    .form__emotions textarea {
        width: 460px;
        margin-top: 0;
    }
    .form__send {
        width: 93.333%;
        max-width: 620px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 65px;
        margin-bottom: 50px;
    }
    .form__button {
        padding-left: 57px;
        padding-right: 57px;
    }
    .form__necessarily {
        margin-top: 0;
    }
}
@media (min-width: $screen-desktop) {
    .form {
        width: 78.333%;
        max-width: 940px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }
    .form__full-name-item input[type="text"] {
        padding-right: 138px;
        max-width: 340px;
    }
    .form__first-name + input[type="text"] {
        padding-right: 179px;
        max-width: 380px;
    }
    .form__full-name-item:last-child {
        margin-bottom: 0;
    }
    .form__app {
        width: 46.278%;
    }
    .form__contact-info {
        width: 100%;
        max-width: 940px;
    }
    .form__contact-info-list {
        display: flex;
        justify-content: space-between;
    }
    .form__contact-info-item {
        margin-bottom: 10px;
    }
    .form__contact-info-item input[type="tel"],
    .form__contact-info-item input[type="email"] {
        width: 170px;
        padding-right: 180px;
        background-position: 331px center;
    }
    .form__achievements {
        width: 100%;
        max-width: 940px;
    }
    .form__achievements .wrapper {
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 150px;
    }
    .form__emotions {
        width: 100%;
        max-width: 940px;
        
        padding-left: 58px;
        padding-right: 58px;
        padding-bottom: 43px;
        padding-top: 36px;
    }
    .form__emotions textarea {
        width: 777px;
        height: 124px;
    }
    .form__send {
        width: 100%;
        max-width: 940px;
        margin-bottom: 0;
    }
    .form__necessarily span {
        display: inline;
    }
}