.features-text {
    background-color: #f2f2f2;
    background-image: url("../img/svg/triangle-mobile.svg");
    background-position: center top;
    background-size: 1172px 117px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    .wrapper {
        padding-top: 100px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
    }
    &__description {
        font-size: 14px;
        line-height: 24px;
        color: #283645;
    }
}
@media (min-width: $screen-tablet) {
    .features-text {
        background-image: url("../img/svg/triangle-tablet.svg");
        background-size: 1281px 98px;
    }
    .features-text .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 30px;
    }
    .features-text__list {
        justify-content: center;
    }
    .features-text__item {
        max-width: 310px;
        text-align: left;
    }
}
@media (min-width: $screen-desktop) {
    .features-text {
        background-image: url("../img/svg/triangle-desktop.svg");
        background-size: 1441px 110px;
    }
    .features-text .wrapper {
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    .features-text__list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .features-text__item {
        max-width: 300px;
        text-align: center;
    }
    .features-text__title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    .features-text__description {
        font-size: 18px;
        line-height: 30px;
        max-width: 270px;
        margin: 0 auto;
    }
}
  