.features-text {
    // background-color: #f2f2f2;
    background-image: url(../../img/Shape2.png);
    background-position: center center;
    background-repeat: no-repeat;
    .wrapper {
        // Паддинг для того, чтобы фон встал как надо
        padding-top: 87px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
    }
    &__description {
        font-size: 14px;
        line-height: 24px;
        color: #283645;
    }

}
@media (min-width: $screen-tablet) {
    .features-text {
        background-image: url(../../img/Shape2-tablet.png);
        background-position: center -5px;
        // Отрицательные значения, чтобы немного опустить фон
    }
    .features-text .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 30px;
    }
    .features-text__list {
        justify-content: center;
    }
    .features-text__item {
        max-width: 310px;
        text-align: left;
        
    }
}
@media (min-width: $screen-desktop) {
    .features-text {
        background-image: url(../../img/Shape2-desktop.png);
        background-position: center 10px;
    }
    .features-text .wrapper {
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    .features-text__list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .features-text__item {
        max-width: 300px;
        text-align: center;
    }
    .features-text__title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    .features-text__description {
        font-size: 18px;
        line-height: 30px;
        max-width: 270px;
        margin: 0 auto;
    }
}
  