.page-header {
    background-image: url("../img/bg-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2b3b4b;
}
@media (min-width: $screen-tablet) {
    .page-header {
        background-image: url("../img/bg-tablet.png");
    }
}
@media (min-width: $screen-desktop) {
    .page-header {
        background-image: url("../img/bg-desktop.png");
    }
}