.wrapper {
  width: 87.5%;
  max-width: 280px;
  margin: 0 auto; }

@media (min-width: 660px) {
  .wrapper {
    width: 93.93%;
    max-width: 620px; } }

@media (min-width: 1200px) {
  .wrapper {
    width: 78.33%;
    max-width: 940px; } }

.main {
  width: auto;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

.page-header {
  background-image: url("../img/bg-mobile.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2b3b4b; }

@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-tablet.png"); } }

@media (min-width: 1200px) {
  .page-header {
    background-image: url("../img/bg-desktop.png"); } }

.main-nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 21px 0; }

.main-nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.main-nav__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  background-image: url("../img/logo-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.main-nav__button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background-color: transparent; }

.main-nav__button span,
.main-nav__button span::before,
.main-nav__button span::after {
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0; }

.main-nav__button span::before,
.main-nav__button span::after {
  content: "";
  display: block; }

.main-nav__button span::before {
  transform: translateY(-10px); }

.main-nav__button span::after {
  transform: translateY(10px); }

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0; }

.main-nav__list li {
  list-style: none; }

.main-nav__list a {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold; }

@media (min-width: 660px) {
  .main-nav {
    padding: 25px 0 42px 0; }
    .main-nav .wrapper {
      max-width: 100%; }
  .main-nav__logo {
    background-image: url("../../img/logo-tablet.png");
    width: 147px;
    height: 40px; } }

@media (min-width: 1200px) {
  .main-nav {
    padding: 25px 0 42px 0; }
  .main-nav__logo {
    background-image: url("../../img/logo-desktop.png");
    width: 147px;
    height: 40px; }
  .main-nav__button {
    display: none; }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-top: 15px;
    width: 65.957%; }
    .main-nav__list a {
      text-transform: unset;
      font-weight: 300;
      line-height: 18px; } }

.soft {
  position: relative; }

.soft__iphone-tablet,
.soft__iphone-desktop {
  display: none; }

.soft__iphone-mobile {
  margin-top: 82px;
  margin-left: -20px;
  margin-bottom: -3px; }

@media (min-width: 660px) {
  .soft__iphone-mobile {
    display: none; }
  .soft__iphone-tablet {
    display: block;
    margin-top: 74px;
    margin-left: -20px; } }

@media (min-width: 1200px) {
  .soft__iphone-tablet {
    display: none; }
  .soft__iphone-desktop {
    display: block;
    margin-top: 100px; } }

.soft-file {
  position: absolute;
  width: 100%;
  background-color: #1d2631;
  color: #fff;
  line-height: 24px; }

.soft-file .wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 28px; }

.soft-file__title {
  display: none; }

.soft-file__download {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 15px 35px 15px 36px; }

.soft-file__list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  list-style: none; }

.soft-file__item {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; }

.apple {
  background-image: url("../img/apple-logo.png");
  width: 47px;
  height: 56px; }

.android {
  background-image: url("../img/android-logo.png");
  width: 43px;
  height: 47px; }

.microsoft {
  background-image: url("../img/microsoft-logo.png");
  width: 44px;
  height: 41px; }

.soft-file__description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 29px;
  text-align: center;
  font-weight: 300; }

@media (min-width: 660px) {
  .soft-file {
    width: 48.387%;
    max-width: 300px;
    top: 0;
    left: 3.03%;
    background-color: transparent; }
    .soft-file .wrapper {
      width: 100%;
      max-width: 300px; }
    .soft-file__title {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 40px;
      line-height: 40px;
      font-weight: 300;
      text-align: center;
      max-width: 190px;
      align-self: center;
      margin-bottom: 38px; }
    .soft-file__download {
      padding: 17px 43px; }
    .soft-file__description {
      font-size: 18px;
      line-height: 24px; } }

@media (min-width: 1200px) {
  .soft-file {
    width: 31.914%;
    left: 10.83%; }
    .soft-file__title {
      font-size: 50px;
      min-width: 234px;
      line-height: 60px; }
    .soft-file__download {
      font-size: 21px;
      padding-left: 28px;
      padding-right: 28px;
      line-height: 18px; } }

.features {
  margin-top: 274px;
  padding-top: 45px; }
  .features__offer p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #283645;
    text-align: center;
    margin-bottom: 40px; }

@media (min-width: 660px) {
  .features {
    margin-top: 0; }
    .features__offer {
      padding-bottom: 50px; }
    .features__offer p {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  .features__offer p {
    font-size: 50px;
    line-height: 50px; } }

.features-text {
  background-color: #f2f2f2; }
  .features-text__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
  .features-text__title {
    font-size: 18px;
    line-height: 24px; }
  .features-text__description {
    font-size: 14px;
    line-height: 24px;
    color: #283645; }

@media (min-width: 660px) {
  .features-text__item {
    max-width: 310px;
    text-align: left; } }

@media (min-width: 1200px) {
  .features-text__list {
    flex-direction: row; }
  .features-text__item {
    max-width: 275px; }
  .features-text__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center; }
  .features-text__description {
    font-size: 18px;
    line-height: 30px; } }

.effect {
  display: none; }

@media (min-width: 660px) {
  .effect {
    display: block;
    background-color: #fff;
    padding-top: 60px;
    margin-bottom: 53px; }
    .effect .wrapper {
      display: flex;
      justify-content: space-between; }
  .effect__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; }
  .effect__title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 36px; }
  .effect__description {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0; }
  .effect__more {
    font-size: 14px;
    line-height: 24px;
    color: #d22856; } }

@media (min-width: 1200px) {
  .effect {
    background-color: #f2f2f2; }
  .effect__text {
    width: 60.638%; }
  .effect__title {
    line-height: 30px; }
  .effect__title br {
    display: none; }
  .effect__description {
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0 30px 0; }
  .effect__more {
    font-size: 18px;
    line-height: 30px; } }
