.main-nav {
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 21px 0;
}
.main-nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.main-nav__logo {
    display: inline-block;
    width: 75px;
    height: 22px;
    background-image: url("../img/logo-mobile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.main-nav__button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: transparent;
}
.main-nav__button span,
.main-nav__button span::before,
.main-nav__button span::after {
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #fff;
    top: 50%;
    margin-top: -2px;
    left: 0;
}
.main-nav__button span::before,
.main-nav__button span::after {
    content: "";
    display: block;
    // transition: 0.3s;
}
.main-nav__button span::before {
    transform: translateY(-10px);
}
.main-nav__button span::after {
    transform: translateY(10px);
}
.main-nav__list {
    display: none;
    margin: 0;
    padding: 0;
}
.main-nav__list li {
    list-style: none;
}
.main-nav__list a{
    font-family: $font;
    color: $font-color;
    text-decoration: none;
    font-size: $font-size;
    text-transform: uppercase;
    font-weight: bold;
}
@media (min-width: $screen-tablet) {
    .main-nav {
        padding: 25px 0 42px 0;
        .wrapper {
            max-width: 100%;
        }
    }
    .main-nav__logo {
        background-image: url("../../img/logo-tablet.png");
        width: 147px;
        height: 40px;
    }
}
@media (min-width: $screen-desktop) {
    .main-nav {
        padding: 25px 0 42px 0;
    }
    .main-nav__logo {
        background-image: url("../../img/logo-desktop.png");
        width: 147px;
        height: 40px;
    }
    .main-nav__button {
        display: none;
    }
    .main-nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        margin-top: 15px;
        width: 65.957%;
        a {
            text-transform: unset;
            font-weight: 300;
            line-height: 18px;

        }
    }
}