.main-nav {
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 21px 0;
}
.main-nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 100%;
}
// Начало стилей ПОП-АПА
.main-nav__button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: transparent;
}
.main-nav__button span,
.main-nav__button span::before,
.main-nav__button span::after {
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #fff;
    top: 50%;
    margin-top: -2px;
    right: 0;
}
.main-nav__button span::before,
.main-nav__button span::after {
    content: "";
    display: block;
}
.main-nav__button span::before {
    transform: translateY(-10px);
}
.main-nav__button span::after {
    transform: translateY(10px);
}
.main-nav__button--active span{
    height: 0;
}
.main-nav__button--active span::before,
.main-nav__button--active span::after {
    width: 30px;
}
.main-nav__button--active span::before {
    transform: rotate(45deg);
}
.main-nav__button--active span::after {
    transform: rotate(-45deg);
}
.main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    transform-origin: top center;
    transform: scaleY(0) translateY(-40%);
    height: 0;
    margin: 0 auto;
    padding: 0;
}
.main-nav__list--active {
    height: auto;
    margin-top: 25px;
    transform: scaleY(1)  translateY(0);
    border-top: 1px solid #000;
}
.main-nav--active {
    background-color: #283645;
    padding-bottom: 0;
}
.main-nav__list li {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 20px 0 15px 0;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
}
.main-nav__list a{
    font-family: $font;
    color: $font-color;
    text-decoration: none;
    font-size: $font-size;
    text-transform: uppercase;
    font-weight: bold;
    
}
@media (min-width: $screen-tablet) {
    .main-nav {
        padding: 25px 0 35px 0;
    }
    
    .main-nav--active {
        padding-bottom: 0;
    }
}
@media (min-width: $screen-desktop) {
    .govno {
        width: 78.33%;
        // max-width: 940px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .main-nav .wrapper {
        width: auto;
        margin: 0;
    }
    .main-nav__button {
        display: none;
    }
    .main-nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-self: center;
        width: 65.957%;
        transition: none;
        transform: scaleY(1) translateY(0);
        transform-origin: 50% 50% 0;
        border: none;
        height: auto;
        margin: 0;
        a {
            text-transform: unset;
            font-weight: 300;
            line-height: 18px;
        }
        li {
            border: none;
            padding: 0;
            width: auto;
        }
    }
}